<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
      }

      .dash {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
      }

      .dash h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
      }

      .dash p {
        font-size: 18px;
        margin: 5px 0;
        color: #555;
      }

      .form-container {
        background-color: #fff;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
      }

      .form-container h3 {
        font-size: 24px;
        margin-bottom: 15px;
        color: #333;
      }

      .form-group {
        margin-bottom: 15px;
      }

      .form-group label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
        color: #555;
      }

      .form-group input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }

      .form-group input:focus {
        border-color: #007bff;
      }

      .save-btn {
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      .save-btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <%- include('navbar') %> <%- include('sidebar') %> <% if(message){%>
    <script>
      alert("<%= message%>");
    </script>

    <% } %>
    <div class="dash">
      <div class="form-container">
        <h3>Change Password</h3>
        <form action="/admin/change-password" method="POST">
          <div class="form-group">
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="pass" required />
          </div>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input
              type="password"
              id="new-password"
              name="newPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirmPassword"
              required
            />
          </div>
          <button type="submit" class="save-btn">Save Changes</button>
        </form>
      </div>
    </div>
  </body>
</html>
